/* variables  */
:root {
  --primary-color: #f24a72;
  --dark-color: #333;
  --white-color: #fff;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  font-size: 16px;
}
img {
  max-width: 100%;
  height: auto;
}

/* utilities classes */
.container {
  max-width: min(100% - 2rem, 1280px);
  margin-inline: auto;
}

#not-found {
  height: 70vh;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
#not-found img {
  height: 100%;
  object-fit: contain;
}
