/* global classes */

.btn {
  position: relative;
  padding: 0.6rem 2rem;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  color: var(--white-color);
  font-family: poppins;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  margin: 0.5rem 0rem;
  border-radius: 50px;
  transition: all 0.4s ease;
}
.btn.btn-sm {
  padding: 0.4rem 0.7rem;
  margin: 0.3rem 0rem;
}
.btn:active {
  transform: translateY(6px);
}
.colorize {
  color: var(--primary-color);
}

section {
  padding: 1rem 0rem;
}
